*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
  font-family: 'RixYeoljeongdo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: 400;      /* normal */
  font-style: normal;
  font-display: swap;    /* 폰트 로딩 지연 시 시스템 폰트로 먼저 렌더링 */
}


#event-banner{
    background-color: #e4f6fe;
    > h1{
        text-align: center; 
        font-size: 25px;
        font-family: 'RixYeoljeongdo', sans-serif;
        font-style: normal;
        font-display: swap;
        font-weight: 500;

        >span{
            color:#EA6B6B;
        }
    }
}